*.db
*.txt
*.zip
*.7z
*.rar
*.DB-journal
*.exe
*.ico
*.png
*.ini
/test
/scripts
/backups
!change.txt
!@fzm.txt
!@wubi98.txt
!@s2t.txt
!@notes.txt
!Yzime.exe
cikutools.dll
tsf/*
Yzime.code-workspace
!ciku_demo.db
!五笔字根+特殊符号显示支持.7z
